@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-pink: #feecea;
  --color-white: #fff;
  --color-black: #333;
  --color-text-pink: #ff7882;
  --color-heart: #ff7882;
  --color-bg-letter: #fff8e4;
  --color-border: #daccbf;
  --color-accent: #ffb6c1;
  --color-light-pink: #ffe4e9;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(var(--color-pink), var(--color-pink));
  font-family: "Poppins", sans-serif;
}

#wrapper {
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 1) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 76%,
      transparent 77%,
      transparent
    );
  height: 100%;
  background-size: 80px 80px;
  overflow: hidden;
  z-index: 1;
}

.flag__birthday {
  display: flex;
  justify-content: space-between;
  transform: translateY(-200px);
  animation: translateYFlag 1.5s 2s forwards;
}

@keyframes translateYFlag {
  to {
    transform: translateY(-10px);
  }
}

.flag__birthday .flag__left {
  transform: rotate(-10deg) translate(-20px, 30px);
}

.flag__birthday .flag__right {
  transform: rotate(10deg) translate(20px, 30px) scaleX(-1);
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.content .left,
.content .right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .left {
  width: 40%;
}

.content .right {
  width: 60%;
}

.left .btn {
  transform: scale(0);
  animation: scaleCricle 2s 16s forwards ease-in-out;
}

/* Add hidden class for button visibility control */
.btn.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  animation: none;
}

#btn__letter {
  position: relative;
  margin-top: 30px;
  background-color: var(--color-text-pink);
  outline: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 3px solid var(--color-black);
  font-family: "Sriracha", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transform: scale(1);
  transition: all .5s ease-in-out;
  box-shadow: 0 4px 15px rgba(255, 120, 130, 0.3);
  font-weight: 600;
  animation: popButton 0.6s ease-out;
}

/* Pop-in animation for button appearance */
@keyframes popButton {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#btn__letter:active {
  transform: scale(0.95);
}

#btn__letter i {
  margin-left: 8px;
  font-size: 1.2rem;
}

#btn__letter:hover {
  border-color: var(--color-heart);
  background-color: var(--color-heart);
  color: #fff;
  box-shadow: 0 8px 25px rgba(255, 120, 130, 0.5);
  transform: translateY(-2px);
}

#btn__letter:hover i {
  animation: rotateHeart 1s infinite linear;
}

@keyframes rotateHeart {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(12deg);
  }
  75% {
    transform: rotate(-12deg);
  }
}

.title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Titan One", sans-serif;
  font-size: 3rem;
  flex-direction: column;
  perspective: 1000px;
}

.title .happy,
.title .birthday {
  position: relative;
  text-shadow:
    4px 4px var(--color-black),
    -4px 4px var(--color-black),
    4px -4px var(--color-black),
    -4px -4px var(--color-black),
    4px 8px 0 var(--color-black);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.title .happy {
  color: var(--color-white);
}

.title .happy span,
.title .birthday span {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  animation: txtTranslateY .5s var(--t) forwards;
}

@keyframes txtTranslateY {
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.title .birthday {
  color: var(--color-text-pink);
}

.title .hat {
  position: absolute;
  right: 45px;
  top: -350px;
  transform: rotate(-40deg);
  z-index: -1;
  animation: topHat 4s 7s forwards ease;
}

@keyframes topHat {
  20%,
  30% {
    top: -30px;
    transform-origin: left;
    transform: rotate(-40deg);
  }
  35%,
  100% {
    top: -30px;
    transform: rotate(0deg);
  }
}

.date__of__birth,
.name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-text-pink);
  border-radius: 50px;
  margin-top: 20px;
  font-family: "Sriracha", cursive;
}

.date__of__birth {
  border: 3px solid var(--color-black);
  position: relative;
  transform: translateY(-100px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  animation: dateOfBirth 5s 9s forwards;
  box-shadow: 0 4px 15px rgba(255, 120, 130, 0.3);
}

@keyframes dateOfBirth {
  20%,
  40% {
    width: 0px;
    height: 0;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  45% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    width: 300px;
    height: 0px;
  }
  50%,
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    width: 300px;
    height: 50px;
  }
}

.name {
  position: absolute;
  padding: 8px 20px;
  bottom: -20px;
  border: 3px solid var(--color-black);
  font-family: "Dancing Script", cursive;
  box-shadow: 0 4px 15px rgba(255, 120, 130, 0.3);
}

.date__of__birth span,
.name span {
  font-weight: bold;
  margin: 0px 40px;
}

.date__of__birth span {
  font-size: 1.2rem;
}

.name span {
  font-size: 1.7rem;
}

.right .box__account {
  position: relative;
  transform: translateY(700px);
  animation: topBoxImage 8s 7s forwards ease-in;
}

@keyframes topBoxImage {
  to {
    transform: translateY(0);
  }
}

.content .right .image {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 6px solid var(--color-black);
  box-shadow: 0 10px 40px rgba(255, 120, 130, 0.4);
}

.content .right .image img {
  width: 100%;
  object-fit: cover;
}

.cricle {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation: scaleCricle 3s 15s forwards ease-in-out;
}

@keyframes scaleCricle {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(0.7);
  }
  30%,
  100% {
    transform: scale(1);
  }
}

.text__cricle {
  width: 100px;
  height: 100px;
  background-color: var(--color-text-pink);
  border-radius: 50%;
  border: 5px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateCricle 5s linear infinite;
  box-shadow: 0 5px 20px rgba(255, 120, 130, 0.4);
}

@keyframes rotateCricle {
  to {
    transform: rotate(360deg);
  }
}

.text__cricle span {
  top: 0%;
  left: 50%;
  position: absolute;
  color: var(--color-black);
  transform: rotate(calc(var(--i) * 24deg));
  transform-origin: 0 45px;
  font-family: "Sriracha", cursive;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.fa-heart {
  color: var(--color-heart);
  filter: drop-shadow(0 0 3px var(--color-heart));
  animation: scaleHeart 1s infinite linear;
}

.cricle .fa-heart {
  position: absolute;
  transform: scale(0.85);
}

@keyframes scaleHeart {
  50% {
    transform: scale(1.2);
  }
}

.right .balloon_one {
  position: absolute;
  top: -70px;
  left: -70px;
  animation: balloon1 2s infinite linear;
}

@keyframes balloon1 {
  0%,
  50%,
  100% {
    transform-origin: bottom right;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: bottom right;
    transform: rotate(3deg);
  }
  75% {
    transform-origin: bottom right;
    transform: rotate(-3deg);
  }
}

.right .balloon_two {
  position: absolute;
  top: 170px;
  right: -65px;
  z-index: -1;
  transform: rotate(10deg);
  animation: balloon2 2s infinite linear;
}

@keyframes balloon2 {
  0%,
  50%,
  100% {
    transform-origin: bottom left;
    transform: rotate(10deg);
  }
  25% {
    transform-origin: bottom left;
    transform: rotate(7deg);
  }
  75% {
    transform-origin: bottom left;
    transform: rotate(13deg);
  }
}

.decorate_star {
  position: absolute;
  transform: scale(0);
  background-color: var(--color-black);
  clip-path: polygon(0 50%, 35% 35%, 50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%);
  animation: scaleCricle 3s var(--t) forwards, scaleStar 2s 16s infinite ease-in-out;
}

.decorate_star.star1 {
  width: 20px;
  height: 20px;
  top: 75px;
  left: 300px;
}

.decorate_star.star2 {
  width: 15px;
  height: 20px;
  top: 35px;
  right: 360px;
}

.decorate_star.star3 {
  width: 14px;
  height: 14px;
  top: 290px;
  left: 630px;
}

.decorate_star.star4 {
  width: 18px;
  height: 18px;
  bottom: 60px;
  left: 35px;
}

.decorate_star.star5 {
  width: 16px;
  height: 18px;
  bottom: 140px;
  left: 500px;
}

@keyframes scaleStar {
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
}

.decorate_bottom {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.decorate_flower--one {
  position: absolute;
  top: 250px;
  left: 50px;
  transform: scale(0);
  animation: scaleCricle 3s var(--t) forwards ease-in-out;
}

.decorate_flower--two {
  position: absolute;
  top: 225px;
  left: 540px;
  transform: scale(0);
  animation: scaleCricle 3s var(--t) forwards ease-in-out;
}

.decorate_flower--three {
  position: absolute;
  top: 150px;
  right: 235px;
  transform: scale(0);
  animation: scaleCricle 3s var(--t) forwards ease-in-out;
}

.smiley__icon {
  position: absolute;
  bottom: 180px;
  left: 600px;
  transform: scale(0);
  animation: scaleCricle 3s 15s forwards ease-in-out;
}

/* Birthday Card Styles */
.boxMail {
  position: fixed;
  background: rgb(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.3);
  visibility: hidden;
  transition: all 0.5s;
  z-index: 100000000;
  backdrop-filter: blur(5px);
}

.boxMail.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.boxMail .boxMail-container {
  position: absolute;
  width: 800px;
  height: 550px;
  display: flex;
  margin: 0;
  transform: scale(0.9);
  -webkit-perspective: 2000px;
  perspective: 2000px;
  transition: all 0.5s;
}

.boxMail .boxMail-container:hover {
  transform: rotate(-5deg) scale(0.92);
  filter: drop-shadow(0 0 20px #ff7882);
}

.boxMail .boxMail-container .card1,
.boxMail .boxMail-container .card-page {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  border-radius: 8px;
}

.boxMail .boxMail-container .card1 {
  background: linear-gradient(135deg, #ff7882 0%, #ff9ba5 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all 1s ease-in-out;
  cursor: pointer;
  padding: 20px;
}

.boxMail .boxMail-container:hover .card1 {
  transform: translate(-187px, -275px) rotateY(-140deg);
}

.boxMail .boxMail-container .card1 .userImg {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boxMail .boxMail-container .card1 .userImg img {
  position: absolute;
  object-fit: cover;
  width: calc(100%);
  height: calc(100%);
}

.boxMail .boxMail-container .card1 .username {
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 10px;
}

.boxMail .boxMail-container .card1 h3 {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 3px;
  transform: rotate(-5deg);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  margin: 5px 0;
}

/* Card Pages */
.card-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all 1s;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) rotateY(-180deg);
  border-radius: 8px;
  overflow: hidden;
}

.card-page.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotateY(0deg);
  z-index: 4;
}

.page-content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: all 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.media-container {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
  background: linear-gradient(135deg, var(--color-light-pink), var(--color-pink));
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Added styling for actual images in cards */
.page-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Updated image4 styling to show top half centered instead of zoomed out */
.page5 .page-image {
  object-position: center 20%;
  object-fit: cover;
}

/* Styled placeholder for decorative images */
.image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffe4e9 0%, #fff0f3 100%);
  color: #ff7882;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: 2px dashed #ffb6c1;
}

.image-placeholder:hover {
  background: linear-gradient(135deg, #ffd4dc 0%, #ffe8ed 100%);
  transform: scale(0.98);
}

.image-placeholder i {
  font-size: 4rem;
  margin-bottom: 10px;
  opacity: 0.6;
}

.image-placeholder p {
  font-family: "Dancing Script", cursive;
  font-size: 1.1rem;
  color: #ff7882;
  margin: 0;
}

/* Enhanced message section */
.page-message {
  position: relative;
  height: 40%;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff, #fff8f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #ffe4e9;
}

.page-message h3 {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  color: #ff7882;
  margin: 0 0 10px 0;
  text-align: center;
}

.page-message p {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  color: #666;
  text-align: center;
  line-height: 1.6;
  margin: 0;
}

.boxMail .fa-xmark {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 32px;
  padding: 8px 15px;
  cursor: pointer;
  color: white;
  z-index: 10000000000000000;
  background: rgba(255, 120, 130, 0.3);
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.boxMail .fa-xmark:hover {
  background: rgba(255, 120, 130, 0.6);
  transform: rotate(90deg) scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 658px) {
  .flag__birthday .flag__left {
    transform: rotate(-10deg) translate(-119px, 3px);
  }

  .flag__birthday .flag__right {
    transform: rotate(10deg) translate(-106px, 39px) scaleX(-1);
  }

  .content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding-top: 2rem;
  }

  .title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Titan One", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 8px;
    flex-direction: column;
    perspective: 1000px;
  }

  #btn__letter {
    position: relative;
    margin-top: 17px;
    width: 209px;
    background-color: var(--color-text-pink);
    outline: none;
    padding: 8px 4px;
    font-size: 1rem;
    border-radius: 50px;
    border: 3px solid var(--color-black);
    font-family: "Sriracha", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: all .5s ease-in-out;
  }

  .cricle {
    position: absolute;
    top: 10px;
    right: -54px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    animation: scaleCricle 3s 15s forwards ease-in-out;
  }

  .title .hat {
    position: absolute;
    right: -98px;
    top: -51px !important;
    transform: rotate(-40deg);
    z-index: -1;
    animation: topHat 4s 7s forwards ease;
  }

  .content .right .image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 6px solid var(--color-black);
  }

  .name {
    position: absolute;
    padding: 0px 3px;
    bottom: -6px;
    border: 3px solid var(--color-black);
  }

  .name span {
    font-size: 1rem;
  }

  .right .balloon_one {
    position: absolute;
    top: 10px;
    left: -77px;
    animation: balloon1 2s infinite linear;
  }

  .right .balloon_one img {
    width: 76px !important;
  }

  .boxMail .boxMail-container {
    width: 95vw;
    height: 70vh;
  }
}
